In [2]:
import pandas as pd
import yfinance as yf
start = '2019-01-01'
end = '2022-08-01'
symbol = "005930.KS"
df = yf.download(symbol,start , end)
df

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close    Volume
Date
2019-01-02  39400.0  39400.0  38550.0  38750.0  33776.156250   7847664
2019-01-03  38300.0  38550.0  37450.0  37600.0  32773.765625  12471493
2019-01-04  37450.0  37600.0  36850.0  37450.0  32643.013672  14108958
2019-01-07  38000.0  38900.0  37800.0  38750.0  33776.156250  12748997
2019-01-08  38000.0  39200.0  37950.0  38100.0  33209.585938  12756554
...             ...      ...      ...      ...           ...       ...
2022-07-25  60900.0  61900.0  60800.0  61100.0  59070.988281   9193681
2022-07-26  60800.0  61900.0  60800.0  61700.0  59651.066406   6597211
2022-07-27  61300.0  61900.0  61200.0  61800.0  59747.750000   7320997
2022-07-28  62300.0  62600.0  61600.0  61900.0  59844.425781  10745302
2022-07-29  62400.0  62600.0  61300.0  61400.0  59361.027344  15093120

[882 rows x 6 columns]