# 실제 데이터 풀로 가져오기

In [45]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2024-12-31'
symbol = 'AAPL' # "005930.KS"
df = yf.download(symbol, start, end)
df = df.rename(columns={'Adj Close': 'Adj_Close'})
# df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002083,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572327,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244362,155088000

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 800 entries, 2021-01-04 to 2024-03-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       800 non-null    float64
 1   High       800 non-null    float64
 2   Low        800 non-null    float64
 3   Close      800 non-null    float64
 4   Adj_Close  800 non-null    float64
 5   Volume     800 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 43.8 KB

In [47]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'aapl_from2021-01-01' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<00:00, 999.12it/s]

# 주요 지수 적재

## S&P

In [1]:
import pandas as pd
import yfinance as yf
spy_ticker = "SPY"

# start와 end date 사이의 정보를 가져옵니다.
spy = yf.download(spy_ticker, start="2021-01-01", end="2023-12-31")
spy = spy.rename(columns={'Adj Close': 'Adj_Close'})
spy

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,375.309998,375.450012,364.820007,368.790009,352.767212,110210800
2021-01-05,368.100006,372.500000,368.049988,371.329987,355.196747,66426200
2021-01-06,369.709991,376.980011,369.119995,373.549988,357.320312,107997700
2021-01-07,376.100006,379.899994,375.910004,379.100006,362.629211,68766800
2021-01-08,380.589996,381.489990,377.100006,381.260010,364.695374,71677200
...,...,...,...,...,...,...
2023-12-22,473.859985,475.380005,471.700012,473.649994,473.649994,67126600
2023-12-26,474.070007,476.579987,473.989990,475.649994,475.649994,55387000
2023-12-27,475.440002,476.660004,474.890015,476.510010,476.510010,68000300
2023-12-28,476.880005,477.549988,476.260010,476.690002,476.690002,77158100
2023-12-29,476.489990,477.029999,473.299988,475.309998,475.309998,122234100

In [2]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'major_indices' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'spy' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
spy.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

## nasdoc

In [3]:
import pandas as pd
import yfinance as yf
# 나스닥 종합 지수로 나스닥 정보를 가져옵니다
nasdaq_ticker = "^IXIC"

# start와 end date 사이의 정보를 가져옵니다.
nasdaq_data = yf.download(nasdaq_ticker, start="2021-01-01", end="2023-12-31")
nasdaq_data = nasdaq_data.rename(columns={'Adj Close': 'Adj_Close'})
nasdaq_data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,12958.519531,12958.719727,12543.240234,12698.450195,12698.450195,6636170000
2021-01-05,12665.650391,12828.269531,12665.650391,12818.959961,12818.959961,6971860000
2021-01-06,12666.150391,12909.629883,12649.990234,12740.790039,12740.790039,7689880000
2021-01-07,12867.339844,13090.910156,12867.339844,13067.480469,13067.480469,6841480000
2021-01-08,13160.219727,13208.089844,13036.549805,13201.980469,13201.980469,7289390000
...,...,...,...,...,...,...
2023-12-22,15006.179688,15047.190430,14927.120117,14992.969727,14992.969727,4796600000
2023-12-26,15028.690430,15101.179688,15024.059570,15074.570312,15074.570312,6120600000
2023-12-27,15089.660156,15114.080078,15051.669922,15099.179688,15099.179688,7480170000
2023-12-28,15142.089844,15150.070312,15087.219727,15095.139648,15095.139648,5090570000
2023-12-29,15099.200195,15111.410156,14955.370117,15011.349609,15011.349609,5441060000

In [4]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'major_indices' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'nasdaq' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
nasdaq_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# prophet 예측값 arima 예측값 union시키기

## 아리마 예측 데이터 불러오기

In [1]:
# 아리마 예측 적재용
import pandas as pd
df_arima = pd.read_csv('arima_forecast.csv')# 'ARIMA_forecast_2024-01.csv')

df_arima['ds'] = pd.to_datetime(df_arima['ds'])

# df_arima = df_arima.rename(columns={'Predicted Price': 'Predicted_Price'})
# df_arima = df_arima.rename(columns={'Upper Bound': 'Upper_Bound'})
# df_arima = df_arima.rename(columns={'Lower Bound': 'Lower_Bound'})

In [13]:
df_arima.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  188.039993  181.956899  194.123088
1 2021-01-05  129.410004  122.663076  136.156931
2 2021-01-06  131.009995  124.264746  137.755243

In [14]:

from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'predict_aapl_arima' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df_arima.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

## prophet 예측데이터 만들기

In [2]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
df_merge = yf.download(symbol, start, end)
df_merge = df_merge.rename(columns={'Adj Close': 'Adj_Close'})
# df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_merge.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002083,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572342,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244385,155088000

In [3]:
import numpy as np
from prophet import Prophet
df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_input = df_merge[['ds','y']]
model_prophet = Prophet(changepoint_prior_scale = 0.15, daily_seasonality = True)
model_prophet.fit(df_input)
fcast_time = 365 # 365일 예측
freq_option = 'D'
future = model_prophet.make_future_dataframe(periods = fcast_time, freq = freq_option)
from workalendar.usa import UnitedStates
# AAPL의 경우 미국 거래소에서 거래가 이루어지니 미국 공휴일 정보 가져와서 리스트로 만드는 과정
# cal = workalendar.usa.UnitedStates()
cal = UnitedStates()
holiday_dates = []

for year in range(2021, 2025):  # 2021년부터 2024년까지
    holiday_dates.extend([date for date, _ in cal.holidays(year)])
    
future = future[future['ds'].dt.dayofweek < 5] # 주말 제외 작업
future = future[~future['ds'].isin(holiday_dates)] # 공휴일 제외 작업
df_forecast = model_prophet.predict(future)

15:15:08 - cmdstanpy - INFO - Chain [1] start processing
15:15:09 - cmdstanpy - INFO - Chain [1] done processing

In [17]:
df_forecast.head(3)

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2021-01-04,125.837293,127.921738,138.832164,125.837293,125.837293,7.130274,7.130274,7.130274,2.360639,...,0.160907,0.160907,0.160907,4.608728,4.608728,4.608728,0.0,0.0,0.0,132.967567
1,2021-01-05,125.788028,127.104649,138.156965,125.788028,125.788028,6.900233,6.900233,6.900233,2.360639,...,0.143280,0.143280,0.143280,4.396314,4.396314,4.396314,0.0,0.0,0.0,132.688260
2,2021-01-06,125.738762,126.867076,137.820493,125.738762,125.738762,6.693765,6.693765,6.693765,2.360639,...,0.150670,0.150670,0.150670,4.182456,4.182456,4.182456,0.0,0.0,0.0,132.432527

In [18]:
df_merge.head(3)

,Open,High,Low,Close,Adj_Close,Volume,ds,y
Date,,,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002090,143301900,2021-01-04,129.410004
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572327,97664900,2021-01-05,131.009995
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244377,155088000,2021-01-06,126.599998

In [9]:
df_arima.head(3)

          ds        yhat  yhat_upper  yhat_lower
0 2024-01-01  192.529999  196.804993  188.255005
1 2024-01-02  192.529999  196.803082  188.256916
2 2024-01-03  192.529999  196.801174  188.258824

In [4]:
df_merge.reset_index(drop=True, inplace=True)

In [5]:
df_close = df_merge[['ds','Close']]
df_close.head(3)

          ds       Close
0 2021-01-04  129.410004
1 2021-01-05  131.009995
2 2021-01-06  126.599998

In [6]:
df_prophet_concat=df_forecast[['ds','yhat','yhat_lower','yhat_upper']]
df_prophet_concat.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  132.967567  127.109232  138.286348
1 2021-01-05  132.688260  127.433978  138.283137
2 2021-01-06  132.432527  126.758090  138.099001

In [7]:
df_prophet_concat2 = pd.merge(df_prophet_concat, df_close, on='ds', how='left')
df_prophet_concat2.iloc[-252:-248]
df_prophet_concat2.info()
df_prophet_concat2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ds          996 non-null    datetime64[ns]
 1   yhat        996 non-null    float64
 2   yhat_lower  996 non-null    float64
 3   yhat_upper  996 non-null    float64
 4   Close       746 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.0 KB

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  132.967567  127.109232  138.286348  129.410004
1   2021-01-05  132.688260  127.433978  138.283137  131.009995
2   2021-01-06  132.432527  126.758090  138.099001  126.599998
3   2021-01-07  132.025325  126.653870  137.419581  130.919998
4   2021-01-08  131.901294  126.508503  137.346006  132.050003
..         ...         ...         ...         ...         ...
991 2024-12-20  208.399744   37.631154  360.887273         NaN
992 2024-12-23  208.497468   34.138863  363.249018         NaN
993 2024-12-24  208.480149   33.919080  363.928373         NaN
994 2024-12-26  208.297338   34.393119  363.577510         NaN
995 2024-12-27  208.379444   32.176411  368.724382         NaN

[996 rows x 5 columns]

In [8]:
df_arima_concat2 = pd.merge(df_arima, df_close, on='ds', how='left') # df_arima_concat 은 없는게 맞음 애초에 컬럼이 그것들 뿐이라 안만듦
df_arima_concat2.iloc[-22:-18]
df_arima_concat2

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  188.039993  181.956899  194.123088  129.410004
1   2021-01-05  129.410004  122.663076  136.156931  131.009995
2   2021-01-06  131.009995  124.264746  137.755243  126.599998
3   2021-01-07  126.599998  119.853352  133.346645  130.919998
4   2021-01-08  130.919998  124.172099  137.667897  132.050003
..         ...         ...         ...         ...         ...
768 2024-01-24  195.179993  188.896540  201.463446         NaN
769 2024-01-25  194.500000  188.217844  200.782156         NaN
770 2024-01-26  194.169998  187.889184  200.450812         NaN
771 2024-01-29  192.419998  186.140136  198.699860         NaN
772 2024-01-30  191.729996  185.451426  198.008565         NaN

[773 rows x 5 columns]

In [34]:
df_arima_concat2.sort_values(by='ds',inplace=True)

In [38]:
# df_arima_concat2.reset_index(drop=True, inplace=True)

In [9]:
df_prophet_concat2['model']='prophet'

In [10]:
df_arima_concat2['model']='arima'

In [13]:
combined_data = pd.concat([df_prophet_concat2, df_arima_concat2])
combined_data.reset_index(drop=True, inplace=True)

In [20]:
combined_data.iloc[-40:]

             ds        yhat  yhat_lower  yhat_upper       Close  model
1729 2023-12-01  189.949997  183.644118  196.255876  191.240005  arima
1730 2023-12-04  191.240005  184.935288  197.544723  189.429993  arima
1731 2023-12-05  189.429993  183.126220  195.733766  193.419998  arima
1732 2023-12-06  193.419998  187.115387  199.724609  192.320007  arima
1733 2023-12-07  192.320007  186.016709  198.623305  194.270004  arima
1734 2023-12-08  194.270004  187.967580  200.572429  195.710007  arima
1735 2023-12-11  195.710007  189.408685  202.011328  193.179993  arima
1736 2023-12-12  193.179993  186.879404  199.480581  194.710007  arima
1737 2023-12-13  194.710007  188.410276  201.009737  197.960007  arima
1738 2023-12-14  197.960007  191.660276  204.259737  198.110001  arima
1739 2023-12-15  198.110001  191.811613  204.408388  197.570007  arima
1740 2023-12-18  197.570007  191.272957  203.867058  195.889999  arima
1741 2023-12-19  195.889999  189.593948  202.186051  196.940002  arima
1742 2023-12-20  196.940002  190.645178  203.234826  194.830002  arima
1743 2023-12-21  194.830002  188.535958  201.124045  194.679993  arima
1744 2023-12-22  194.679993  188.387319  200.972667  193.600006  arima
1745 2023-12-26  193.600006  187.308549  199.891464  193.050003  arima
1746 2023-12-27  193.050003  186.759876  199.340130  193.149994  arima
1747 2023-12-28  193.149994  186.861236  199.438752  193.580002  arima
1748 2023-12-29  193.580002  187.292588  199.867416  192.529999  arima
1749 2024-01-02  192.529999  186.243807  198.816191         NaN  arima
1750 2024-01-03  185.639999  179.348866  191.931133         NaN  arima
1751 2024-01-04  184.250000  177.959979  190.540021         NaN  arima
1752 2024-01-05  181.910004  175.620623  188.199384         NaN  arima
1753 2024-01-08  181.179993  174.891907  187.468078         NaN  arima
1754 2024-01-09  185.559998  179.270733  191.849262         NaN  arima
1755 2024-01-10  185.139999  178.852076  191.427922         NaN  arima
1756 2024-01-11  186.190002  179.903298  192.476707         NaN  arima
1757 2024-01-12  185.589996  179.304607  191.875386         NaN  arima
1758 2024-01-16  185.919998  179.635957  192.204040         NaN  arima
1759 2024-01-17  183.630005  177.346631  189.913379         NaN  arima
1760 2024-01-18  182.679993  176.397859  188.962126         NaN  arima
1761 2024-01-19  188.630005  182.344546  194.915464         NaN  arima
1762 2024-01-22  191.559998  185.274856  197.845139         NaN  arima
1763 2024-01-23  193.889999  187.605408  200.174591         NaN  arima
1764 2024-01-24  195.179993  188.896540  201.463446         NaN  arima
1765 2024-01-25  194.500000  188.217844  200.782156         NaN  arima
1766 2024-01-26  194.169998  187.889184  200.450812         NaN  arima
1767 2024-01-29  192.419998  186.140136  198.699860         NaN  arima
1768 2024-01-30  191.729996  185.451426  198.008565         NaN  arima

In [23]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'combined_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
combined_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [22]:
combined_data.to_csv('combined_data2.csv')

# prophet & arima 예측 평가 union

## 아리마 예측 평가 적재용

In [ ]:
# 아리마 예측 적재용
import pandas as pd
metrics_arima = pd.read_csv('metrics_arima.csv')

In [ ]:

from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_aapl_arima' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_arima.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

## prophet 위 arima랑 같은 방식으로 해서 적재하는 부분까지

## 아리마 불러오기 및 적재

In [10]:
# 아리마 예측 적재용
import pandas as pd
metrics_arima = pd.read_csv('metrics_arima.csv')

In [ ]:

from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_aapl_arima' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_arima.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<00:00, 999.12it/s]

## prophet 불러오기 및 예측 및 적재

In [25]:
import pandas as pd
import yfinance as yf
start = '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
total_train_df = yf.download(symbol, start, end)
total_train_df = total_train_df.rename(columns={'Adj Close': 'Adj_Close'})
total_train_df['ds'] = pd.to_datetime(total_train_df.index, format = '%Y-%m-%d')
total_train_df['y'] = total_train_df['Close']

[*********************100%%**********************]  1 of 1 completed

In [ ]:
# fcast_time = 11 #365 # 365일 예측
# freq_option = 'D'
# us_holidays = make_holidays_df(
#     year_list=[2022 + i for i in range(3)], country='US'
# )

In [26]:
total_train_df_input = total_train_df[['ds','y']]

In [27]:
train_size = int(len(total_train_df_input) * 0.9)
df_train = total_train_df_input[:train_size]
df_test = total_train_df_input[train_size:]

In [28]:
model_prophet = Prophet(changepoint_prior_scale=0.15, daily_seasonality = True) # , holidays=us_holidays)
model_prophet.fit(df_train)
forecast_test = model_prophet.predict(df_test)

17:46:33 - cmdstanpy - INFO - Chain [1] start processing
17:46:33 - cmdstanpy - INFO - Chain [1] done processing

In [29]:
import math
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

mse = mean_squared_error(df_test['y'], forecast_test['yhat'])
print('MSE: ', mse)
mae = mean_absolute_error(df_test['y'], forecast_test['yhat'])
print('MAE: ', mae)
rmse = math.sqrt(mean_squared_error(df_test['y'], forecast_test['yhat']))
print('RMSE: ', rmse)
mape = mean_absolute_percentage_error(df_test['y'], forecast_test['yhat'])
print('MAPE: ' , '{:.2f}%'.format(mape*100))
r2score = r2_score(df_test['y'], forecast_test['yhat'])
print('r2 score: ', r2score)

MSE:  241.61045606234183
MAE:  13.674012598803841
RMSE:  15.543823727202449
MAPE:  7.18%
r2 score:  -1.973770022074588

In [30]:
metrics = pd.DataFrame(
    {
    'MSE': [mse],
    'MAE': [mae],
    'RMSE': [rmse],
    'MAPE_percentage': [mape*100]
    }
)

In [31]:
metrics.to_csv('metrics_prophet_prototype.csv',index=False)

## union

In [ ]:
# metrics_prophet = pd.read_csv('metrics_prophet1.csv')
metrics_prophet = metrics

# prophet 적당한 파라미터로으로 다시 예측하여 예측값과 평가지표 적재

# 지호님 기사 긁어 온 부분 적재

## 기사 긁어오는 코드

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def job(page_num):
    url = f"https://search.naver.com/search.naver?where=news&sm=tab_pge&query=%EC%95%A0%ED%94%8C&start={page_num}"
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'html.parser')

    news_items = soup.select('.news_area')

    news_info = [{'title': item.select_one('.news_tit').get_text(), 'url': item.select_one('.news_tit').get('href')} for item in news_items]
    return news_info

news_info = []
for i in range(1, 101, 10):
    news_info.extend(job(i))

df_article = pd.DataFrame(news_info)

In [5]:
df_article.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   90 non-null     object
 1   url     90 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [9]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'major_indices' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'naver_article' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df_article.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 최종 prophet 예측 데이터 결정

## import

In [2]:
import math
from datetime import datetime, timedelta

import pandas as pd
import yfinance as yf
import numpy as np
from tqdm.auto import tqdm
from prophet import Prophet
from prophet.make_holidays import make_holidays_df
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

## 예측 평가용 (21~23년 학습 한달 예측)

### 예측 및 그래프

In [6]:
start = '2021-01-01' # '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
prophet_train_df = yf.download(symbol, start, end)
prophet_train_df = prophet_train_df.rename(columns={'Adj Close': 'Adj_Close'})
prophet_train_df['ds'] = pd.to_datetime(prophet_train_df.index, format = '%Y-%m-%d')
prophet_train_df['y'] = prophet_train_df['Close']

prophet_train_df_input = prophet_train_df[['ds','y']]

fcast_time = 30 #365 # 365일 예측
freq_option = 'D'


# 문자열을 datetime 객체로 변환
end_date = datetime.strptime(end, '%Y-%m-%d')
start_date_r = end_date + timedelta(days=1) # fcast_time+1 만큼의 일수를 더함
end_date_r = end_date + timedelta(days=fcast_time+2) # fcast_time+1 만큼의 일수를 더함 end날 이전까지 가져와서 +1 해줌
start_r = start_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
end_r = end_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
ticker_r = 'AAPL'

df_recent = yf.download(ticker_r, start=start_r, end=end_r)
df_recent['ds'] = pd.to_datetime(df_recent.index, format = '%Y-%m-%d')
df_recent['y'] = df_recent['Close']

us_holidays = make_holidays_df(
    year_list=[2021 + i for i in range(4)], country='US'
)

model_prophet = Prophet(daily_seasonality = True, holidays=us_holidays, changepoint_prior_scale=0.3,
                        holidays_prior_scale=1.0, n_changepoints=50, seasonality_prior_scale=0.01).fit(prophet_train_df_input)

future = model_prophet.make_future_dataframe(periods = fcast_time+3, freq = freq_option)
future = future[(future['ds'].dt.dayofweek < 5)&(~future['ds'].isin(us_holidays['ds']))] # 주말 제외 작업 & # 공휴일 제외 작업

df_forecast = model_prophet.predict(future)
# model_prophet.plot(df_forecast, xlabel = 'Date',ylabel ='price($)')
# model_prophet.plot_components(df_forecast);

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

14:02:08 - cmdstanpy - INFO - Chain [1] start processing
14:02:09 - cmdstanpy - INFO - Chain [1] done processing

In [25]:
df_forecast.to_csv('prophet한달치_예상값.csv',index=False)

### 예측 평가

In [7]:
df_forecast.set_index('ds', inplace=True, drop=False)
fc = df_forecast[df_forecast['ds'].isin(df_recent['ds'])]['yhat']

mse = mean_squared_error(df_recent['y'], fc)
mae = mean_absolute_error(df_recent['y'], fc)
rmse = math.sqrt(mean_squared_error(df_recent['y'], fc))
mape = mean_absolute_percentage_error(df_recent['y'], fc)
r2score = r2_score(df_recent['y'],fc)
print(f'mse: {mse}, mae: {mae}, rmse: {rmse}, mape: {mape}, r2_score: {r2score}')

mse: 38.85967063137697, mae: 5.202402911757141, rmse: 6.233752532093087, mape: 0.028079003006489328, r2_score: -1.0268363215110603

In [8]:
metrics = pd.DataFrame(
    {
    'MSE': [mse],
    'MAE': [mae],
    'RMSE': [rmse],
    'MAPE_percentage': [mape*100]
    }
)

### 적재

In [9]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_prophet_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [11]:
metrics.to_csv('metrics_prophet(final).csv',index=False)

## arima랑 union시키기

In [15]:
# metrics_prophet = metrics
metrics_prophet =pd.read_csv('metrics_prophet(final).csv')

In [ ]:
# metrics_prophet = metrics
metrics_prophet =pd.read_csv('metrics_prophet(final).csv')

In [ ]:
metrics_prophet = metrics_prophet.assign(model='prophet')
metrics_arima = metrics_arima.assign(model='arima')

In [ ]:
metrics_combined = pd.concat([metrics_prophet,metrics_arima])

In [ ]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_combined_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_combined.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [17]:
metrics_prophet = metrics_prophet.assign(model='prophet')
metrics_arima = metrics_arima.assign(model='arima')

In [21]:
metrics_combined = pd.concat([metrics_prophet,metrics_arima])

In [23]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_combined_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_combined.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

## 예측 길게

In [21]:
start = '2021-01-01' # '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
prophet_train_df = yf.download(symbol, start, end)
prophet_train_df = prophet_train_df.rename(columns={'Adj Close': 'Adj_Close'})
prophet_train_df['ds'] = pd.to_datetime(prophet_train_df.index, format = '%Y-%m-%d')
prophet_train_df['y'] = prophet_train_df['Close']

prophet_train_df_input = prophet_train_df[['ds','y']]

fcast_time = 365 #365 # 365일 예측
freq_option = 'D'


# 문자열을 datetime 객체로 변환
end_date = datetime.strptime(end, '%Y-%m-%d')
start_date_r = end_date + timedelta(days=1) # fcast_time+1 만큼의 일수를 더함
end_date_r = end_date + timedelta(days=fcast_time+2) # fcast_time+1 만큼의 일수를 더함 end날 이전까지 가져와서 +1 해줌
start_r = start_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
end_r = end_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
ticker_r = 'AAPL'

df_recent = yf.download(ticker_r, start=start_r, end=end_r)
df_recent['ds'] = pd.to_datetime(df_recent.index, format = '%Y-%m-%d')
df_recent['y'] = df_recent['Close']

us_holidays = make_holidays_df(
    year_list=[2021 + i for i in range(4)], country='US'
)

model_prophet = Prophet(daily_seasonality = True, holidays=us_holidays, changepoint_prior_scale=0.3,
                        holidays_prior_scale=1.0, n_changepoints=50, seasonality_prior_scale=0.01).fit(prophet_train_df_input)

future = model_prophet.make_future_dataframe(periods = fcast_time+3, freq = freq_option)
future = future[(future['ds'].dt.dayofweek < 5)&(~future['ds'].isin(us_holidays['ds']))] # 주말 제외 작업 & # 공휴일 제외 작업

df_forecast = model_prophet.predict(future)
# model_prophet.plot(df_forecast, xlabel = 'Date',ylabel ='price($)')
# model_prophet.plot_components(df_forecast);

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
15:33:21 - cmdstanpy - INFO - Chain [1] start processing
15:33:22 - cmdstanpy - INFO - Chain [1] done processing

In [13]:
df_forecast.columns.to_list()

['ds',
 'trend',
 'yhat_lower',
 'yhat_upper',
 'trend_lower',
 'trend_upper',
 'Christmas Day',
 'Christmas Day_lower',
 'Christmas Day_upper',
 'Christmas Day (observed)',
 'Christmas Day (observed)_lower',
 'Christmas Day (observed)_upper',
 'Columbus Day',
 'Columbus Day_lower',
 'Columbus Day_upper',
 'Independence Day',
 'Independence Day_lower',
 'Independence Day_upper',
 'Independence Day (observed)',
 'Independence Day (observed)_lower',
 'Independence Day (observed)_upper',
 'Juneteenth National Independence Day',
 'Juneteenth National Independence Day_lower',
 'Juneteenth National Independence Day_upper',
 'Juneteenth National Independence Day (observed)',
 'Juneteenth National Independence Day (observed)_lower',
 'Juneteenth National Independence Day (observed)_upper',
 'Labor Day',
 'Labor Day_lower',
 'Labor Day_upper',
 'Martin Luther King Jr. Day',
 'Martin Luther King Jr. Day_lower',
 'Martin Luther King Jr. Day_upper',
 'Memorial Day',
 'Memorial Day_lower',
 'Memorial Day_upper',
 "New Year's Day",
 "New Year's Day_lower",
 "New Year's Day_upper",
 "New Year's Day (observed)",
 "New Year's Day (observed)_lower",
 "New Year's Day (observed)_upper",
 'Thanksgiving',
 'Thanksgiving_lower',
 'Thanksgiving_upper',
 'Veterans Day',
 'Veterans Day_lower',
 'Veterans Day_upper',
 'Veterans Day (observed)',
 'Veterans Day (observed)_lower',
 'Veterans Day (observed)_upper',
 "Washington's Birthday",
 "Washington's Birthday_lower",
 "Washington's Birthday_upper",
 'additive_terms',
 'additive_terms_lower',
 'additive_terms_upper',
 'daily',
 'daily_lower',
 'daily_upper',
 'holidays',
 'holidays_lower',
 'holidays_upper',
 'weekly',
 'weekly_lower',
 'weekly_upper',
 'yearly',
 'yearly_lower',
 'yearly_upper',
 'multiplicative_terms',
 'multiplicative_terms_lower',
 'multiplicative_terms_upper',
 'yhat']

In [22]:
columns_to_drop = ['Christmas Day', 'Christmas Day_lower', 'Christmas Day_upper', 'Christmas Day (observed)', 'Christmas Day (observed)_lower', 
             'Christmas Day (observed)_upper', 'Columbus Day', 'Columbus Day_lower', 'Columbus Day_upper', 'Independence Day', 
             'Independence Day_lower', 'Independence Day_upper', 'Independence Day (observed)', 'Independence Day (observed)_lower', 
             'Independence Day (observed)_upper', 'Juneteenth National Independence Day', 'Juneteenth National Independence Day_lower', 
             'Juneteenth National Independence Day_upper', 'Juneteenth National Independence Day (observed)', 
             'Juneteenth National Independence Day (observed)_lower', 'Juneteenth National Independence Day (observed)_upper', 'Labor Day', 
             'Labor Day_lower', 'Labor Day_upper', 'Martin Luther King Jr. Day', 'Martin Luther King Jr. Day_lower', 
             'Martin Luther King Jr. Day_upper', 'Memorial Day', 'Memorial Day_lower', 'Memorial Day_upper', "New Year's Day", 
             "New Year's Day_lower", "New Year's Day_upper", "New Year's Day (observed)", "New Year's Day (observed)_lower", 
             "New Year's Day (observed)_upper", 'Thanksgiving', 'Thanksgiving_lower', 'Thanksgiving_upper', 'Veterans Day', 'Veterans Day_lower', 
             'Veterans Day_upper', 'Veterans Day (observed)', 'Veterans Day (observed)_lower', 'Veterans Day (observed)_upper',
             "Washington's Birthday", "Washington's Birthday_lower", "Washington's Birthday_upper"]

In [23]:
df_forecast.drop(columns_to_drop, axis=1, inplace=True)

In [18]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df_forecast.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [19]:
df_forecast.set_index('ds', inplace=True, drop=False)
fc = df_forecast[df_forecast['ds'].isin(df_recent['ds'])]['yhat']

mse = mean_squared_error(df_recent['y'], fc)
mae = mean_absolute_error(df_recent['y'], fc)
rmse = math.sqrt(mean_squared_error(df_recent['y'], fc))
mape = mean_absolute_percentage_error(df_recent['y'], fc)
r2score = r2_score(df_recent['y'],fc)
print(f'mse: {mse}, mae: {mae}, rmse: {rmse}, mape: {mape}, r2_score: {r2score}')

mse: 88.66646881345152, mae: 8.373797960338052, rmse: 9.416287421985988, mape: 0.045997049495457035, r2_score: -1.3514149805261004

In [ ]:
month_data = pd.read_csv('prophet한달치_예상값.csv')

In [40]:
month_data.set_index('ds',inplace=True,drop=False)

In [ ]:
year_data = df_forecast.iloc[:len(month_data)]

In [57]:
num = -5
display(month_data.iloc[[num]])
display(year_data.iloc[[num]])

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,Christmas Day,Christmas Day_lower,Christmas Day_upper,Christmas Day (observed),...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
ds,,,,,,,,,,,,,,,,,,,,,
2024-01-25,2024-01-25,191.097148,188.723244,198.957197,188.107445,194.134054,0.0,0.0,0.0,0.0,...,-0.097753,-0.097753,-0.097753,2.90051,2.90051,2.90051,0.0,0.0,0.0,193.911653

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,Christmas Day,Christmas Day_lower,Christmas Day_upper,Christmas Day (observed),...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
ds,,,,,,,,,,,,,,,,,,,,,
2024-01-25,2024-01-25,191.097148,188.080769,199.469944,187.864165,194.089467,0.0,0.0,0.0,0.0,...,-0.097753,-0.097753,-0.097753,2.90051,2.90051,2.90051,0.0,0.0,0.0,193.911653

In [26]:
df_forecast.to_csv('prophet_일년짜리예측.csv', index=False)

## union

In [27]:
# 아리마 예측 적재용
import pandas as pd
df_arima = pd.read_csv('arima_forecast.csv')# 'ARIMA_forecast_2024-01.csv')

df_arima['ds'] = pd.to_datetime(df_arima['ds'])

In [28]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
df_merge = yf.download(symbol, start, end)
df_merge = df_merge.rename(columns={'Adj Close': 'Adj_Close'})
# df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_merge.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002098,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572311,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244377,155088000

In [29]:
import numpy as np
from prophet import Prophet
df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중

In [30]:
df_merge.reset_index(drop=True, inplace=True)

In [31]:
df_close = df_merge[['ds','Close']]
df_close.head(3)

          ds       Close
0 2021-01-04  129.410004
1 2021-01-05  131.009995
2 2021-01-06  126.599998

In [32]:
df_prophet_concat=df_forecast[['ds','yhat','yhat_lower','yhat_upper']]
df_prophet_concat.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  132.273820  127.932490  136.725737
1 2021-01-05  132.082000  127.642462  136.570749
2 2021-01-06  131.791126  126.990223  136.446756

In [33]:
df_prophet_concat2 = pd.merge(df_prophet_concat, df_close, on='ds', how='left')
df_prophet_concat2.iloc[-252:-248]
df_prophet_concat2.info()
df_prophet_concat2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ds          996 non-null    datetime64[ns]
 1   yhat        996 non-null    float64
 2   yhat_lower  996 non-null    float64
 3   yhat_upper  996 non-null    float64
 4   Close       745 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.0 KB

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  132.273820  127.932490  136.725737  129.410004
1   2021-01-05  132.082000  127.642462  136.570749  131.009995
2   2021-01-06  131.791126  126.990223  136.446756  126.599998
3   2021-01-07  131.383895  126.508872  136.076737  130.919998
4   2021-01-08  131.252225  126.359464  135.403756  132.050003
..         ...         ...         ...         ...         ...
991 2024-12-24  213.381351  -30.470782  458.666265         NaN
992 2024-12-26  212.872351  -33.800518  456.847381         NaN
993 2024-12-27  212.783411  -32.520627  458.933772         NaN
994 2024-12-30  212.122836  -34.515993  461.425211         NaN
995 2024-12-31  211.992922  -37.739644  460.881103         NaN

[996 rows x 5 columns]

In [34]:
df_arima_concat2 = pd.merge(df_arima, df_close, on='ds', how='left') # df_arima_concat 은 없는게 맞음 애초에 컬럼이 그것들 뿐이라 안만듦
df_arima_concat2.iloc[-22:-18]
df_arima_concat2

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  188.039993  181.956899  194.123088  129.410004
1   2021-01-05  129.410004  122.663076  136.156931  131.009995
2   2021-01-06  131.009995  124.264746  137.755243  126.599998
3   2021-01-07  126.599998  119.853352  133.346645  130.919998
4   2021-01-08  130.919998  124.172099  137.667897  132.050003
..         ...         ...         ...         ...         ...
768 2024-01-24  195.179993  188.896540  201.463446         NaN
769 2024-01-25  194.500000  188.217844  200.782156         NaN
770 2024-01-26  194.169998  187.889184  200.450812         NaN
771 2024-01-29  192.419998  186.140136  198.699860         NaN
772 2024-01-30  191.729996  185.451426  198.008565         NaN

[773 rows x 5 columns]

In [ ]:
df_arima_concat2.sort_values(by='ds',inplace=True)

In [35]:
df_prophet_concat2['model']='prophet'

In [36]:
df_arima_concat2['model']='arima'

In [37]:
combined_data = pd.concat([df_prophet_concat2, df_arima_concat2])
combined_data.reset_index(drop=True, inplace=True)

In [43]:
combined_data.iloc[950:1000]

            ds        yhat  yhat_lower  yhat_upper       Close    model
950 2024-10-24  196.432065   14.266490  381.805899         NaN  prophet
951 2024-10-25  196.732101   11.490261  385.946973         NaN  prophet
952 2024-10-28  197.298966   12.014562  387.027227         NaN  prophet
953 2024-10-29  197.603367   10.788621  387.693059         NaN  prophet
954 2024-10-30  197.804549    8.602951  388.586596         NaN  prophet
955 2024-10-31  197.884060    8.160420  391.966433         NaN  prophet
956 2024-11-01  198.232472    4.788578  393.137061         NaN  prophet
957 2024-11-04  199.079931    6.699851  392.422669         NaN  prophet
958 2024-11-05  199.520942    4.094406  394.612571         NaN  prophet
959 2024-11-06  199.877607    4.416749  398.194078         NaN  prophet
960 2024-11-07  200.128976    2.001497  398.524792         NaN  prophet
961 2024-11-08  200.662605   -0.971253  401.667302         NaN  prophet
962 2024-11-12  202.751719    0.556628  403.606980         NaN  prophet
963 2024-11-13  203.303001    1.132154  405.145475         NaN  prophet
964 2024-11-14  203.738342   -1.925643  407.307880         NaN  prophet
965 2024-11-15  204.441267   -3.500778  411.455875         NaN  prophet
966 2024-11-18  206.272383   -3.230638  410.386028         NaN  prophet
967 2024-11-19  206.991406   -2.035475  413.385325         NaN  prophet
968 2024-11-20  207.590501   -5.774809  417.502713         NaN  prophet
969 2024-11-21  208.043244   -7.032801  418.556312         NaN  prophet
970 2024-11-22  208.732516   -8.648166  420.970566         NaN  prophet
971 2024-11-25  210.339424   -7.509556  423.742777         NaN  prophet
972 2024-11-26  210.926667   -7.800598  424.239805         NaN  prophet
973 2024-11-27  211.368841   -8.619162  425.997034         NaN  prophet
974 2024-11-29  212.132809   -7.134916  426.837146         NaN  prophet
975 2024-12-02  213.061598  -10.886962  430.261000         NaN  prophet
976 2024-12-03  213.407310  -13.541591  435.237151         NaN  prophet
977 2024-12-04  213.606038  -12.977187  435.618942         NaN  prophet
978 2024-12-05  213.637328  -15.059339  436.478168         NaN  prophet
979 2024-12-06  213.890110  -13.352944  440.099381         NaN  prophet
980 2024-12-09  214.155718  -17.016771  442.729886         NaN  prophet
981 2024-12-10  214.303045  -17.085639  443.460514         NaN  prophet
982 2024-12-11  214.316529  -19.483228  446.722896         NaN  prophet
983 2024-12-12  214.176088  -21.685823  445.529575         NaN  prophet
984 2024-12-13  214.270571  -21.181677  449.187347         NaN  prophet
985 2024-12-16  214.135110  -20.267411  450.113229         NaN  prophet
986 2024-12-17  214.169521  -25.327740  450.452230         NaN  prophet
987 2024-12-18  214.078012  -26.200252  449.964676         NaN  prophet
988 2024-12-19  213.838866  -27.234514  452.698430         NaN  prophet
989 2024-12-20  213.839308  -29.715668  453.284270         NaN  prophet
990 2024-12-23  213.435423  -31.257437  457.374507         NaN  prophet
991 2024-12-24  213.381351  -30.470782  458.666265         NaN  prophet
992 2024-12-26  212.872351  -33.800518  456.847381         NaN  prophet
993 2024-12-27  212.783411  -32.520627  458.933772         NaN  prophet
994 2024-12-30  212.122836  -34.515993  461.425211         NaN  prophet
995 2024-12-31  211.992922  -37.739644  460.881103         NaN  prophet
996 2021-01-04  188.039993  181.956899  194.123088  129.410004    arima
997 2021-01-05  129.410004  122.663076  136.156931  131.009995    arima
998 2021-01-06  131.009995  124.264746  137.755243  126.599998    arima
999 2021-01-07  126.599998  119.853352  133.346645  130.919998    arima

In [44]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'combined_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
combined_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [3]:
import pandas as pd
import yfinance as yf
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
from tqdm import tqdm

get_list={'samsung': '005930.KS', 'google': 'GOOG', 'microsoft': 'MSFT', 'amazon': 'AMZN', 'meta_facebook': 'META'}

for company, ticker in tqdm(get_list.items()):
    start = '2021-01-01'
    end = '2024-12-31'
    symbol = ticker # "005930.KS"
    df = yf.download(symbol, start, end)
    df = df.rename(columns={'Adj Close': 'Adj_Close'})
    # df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
    # df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
    display(df.head(3))


    # BigQuery 클라이언트 생성
    client = bigquery.Client()
    project_id = client.project #'actual-project-415811'

    ### 여기 설정 ###
    dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
    ### 여기 설정 끝 ###

    # 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
    dataset_id = "{}.{}".format(project_id, dataset_name)

    # 데이터 세트 참조 생성
    dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

    try:
        # 데이터 세트가 존재하는지 확인
        client.get_dataset(dataset_ref)
        print("Dataset already exists.")
    except NotFound:
        # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
        dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
        dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
        dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
        print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

    # client = bigquery.Client()
    # dataset = 'stockdata' 

    ### 여기 설정 ###
    table_name = company+'_from2021-01-01' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
    ### 여기 설정 끝 ###

    table_id = "{}.{}".format(dataset_name,table_name)
    df.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close     Adj_Close    Volume
Date
2021-01-04  81000.0  84400.0  80200.0  83000.0  77922.695312  38655276
2021-01-05  81600.0  83900.0  81600.0  83900.0  78767.632812  35335669
2021-01-06  83300.0  84500.0  82100.0  82200.0  77171.640625  42089013

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj_Close    Volume
Date
2021-01-04  87.876999  88.032501  85.392502  86.412003  86.412003  38038000
2021-01-05  86.250000  87.383499  85.900749  87.045998  87.045998  22906000
2021-01-06  85.131500  87.400002  84.949997  86.764503  86.764503  52042000

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,222.529999,223.000000,214.809998,217.690002,211.605286,37130100
2021-01-05,217.259995,218.520004,215.699997,217.899994,211.809387,23823000
2021-01-06,212.169998,216.490005,211.940002,212.250000,206.317352,35930700

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,163.500000,163.600006,157.201004,159.331497,159.331497,88228000
2021-01-05,158.300507,161.169006,158.253006,160.925507,160.925507,53110000
2021-01-06,157.324005,159.875504,156.557999,156.919006,156.919006,87896000

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,274.779999,275.000000,265.200012,268.940002,268.654968,15106100
2021-01-05,268.290009,272.399994,268.209991,270.970001,270.682800,9871600
2021-01-06,262.000000,267.750000,260.010010,263.309998,263.030914,24354100

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 5/5 [00:38<00:00,  7.72s/it]

# 모의 주식 계산용 데이터 만들기

In [5]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2024-12-31'
symbol = 'AAPL' # "005930.KS"
df = yf.download(symbol, start, end)
df = df.rename(columns={'Adj Close': 'Adj_Close'})
# df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002098,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572357,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244377,155088000

In [8]:
# df['datestamp'] = pd.to_datetime(df.index, format = '%Y-%m-%d')
df_real = df[['datestamp', 'Close']]
df_real = df_real.rename(columns={'Close': 'y'})

            datestamp           y
Date
2021-01-04 2021-01-04  129.410004
2021-01-05 2021-01-05  131.009995
2021-01-06 2021-01-06  126.599998
2021-01-07 2021-01-07  130.919998
2021-01-08 2021-01-08  132.050003
...               ...         ...
2024-03-04 2024-03-04  175.100006
2024-03-05 2024-03-05  170.119995
2024-03-06 2024-03-06  169.119995
2024-03-07 2024-03-07  169.000000
2024-03-08 2024-03-08  170.729996

[800 rows x 2 columns]

In [9]:
df_real.reset_index(inplace=True, drop=True)

In [14]:
df_real[-1:]

     datestamp           y
799 2024-03-08  170.729996

In [11]:
df_predict = pd.read_csv('prophet_일년짜리예측.csv')

In [20]:
df_predict=df_predict[df_predict['ds']>'2024-03-08'][['ds','yhat']]

In [22]:
df_predict.reset_index(inplace=True, drop=True)

In [24]:
df_predict.rename(columns={'ds': 'datestamp', 'yhat': 'y'}, inplace=True)

In [25]:
df_predict

      datestamp           y
0    2024-03-11  186.128756
1    2024-03-12  186.552684
2    2024-03-13  186.911373
3    2024-03-14  187.176142
4    2024-03-15  187.727263
..          ...         ...
199  2024-12-24  213.381351
200  2024-12-26  212.872351
201  2024-12-27  212.783411
202  2024-12-30  212.122836
203  2024-12-31  211.992922

[204 rows x 2 columns]

In [29]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  800 non-null    datetime64[ns]
 1   y          800 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 12.6 KB

In [31]:
df_predict['datestamp']= pd.to_datetime(df_predict['datestamp'])

In [32]:
df_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  204 non-null    datetime64[ns]
 1   y          204 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.3 KB

In [34]:
calculator_data=pd.concat([df_real, df_predict])

In [35]:
calculator_data

     datestamp           y
0   2021-01-04  129.410004
1   2021-01-05  131.009995
2   2021-01-06  126.599998
3   2021-01-07  130.919998
4   2021-01-08  132.050003
..         ...         ...
199 2024-12-24  213.381351
200 2024-12-26  212.872351
201 2024-12-27  212.783411
202 2024-12-30  212.122836
203 2024-12-31  211.992922

[1004 rows x 2 columns]

In [36]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'calculator_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
calculator_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [ ]:
# 아리마 예측 적재용
import pandas as pd
df_arima = pd.read_csv('arima_forecast.csv')# 'ARIMA_forecast_2024-01.csv')

df_arima['ds'] = pd.to_datetime(df_arima['ds'])

In [ ]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
df_merge = yf.download(symbol, start, end)
df_merge = df_merge.rename(columns={'Adj Close': 'Adj_Close'})
# df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_merge.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002098,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572311,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244377,155088000

In [ ]:
import numpy as np
from prophet import Prophet
df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중

In [ ]:
df_merge.reset_index(drop=True, inplace=True)

In [ ]:
df_close = df_merge[['ds','Close']]
df_close.head(3)

          ds       Close
0 2021-01-04  129.410004
1 2021-01-05  131.009995
2 2021-01-06  126.599998

In [ ]:
df_prophet_concat=df_forecast[['ds','yhat','yhat_lower','yhat_upper']]
df_prophet_concat.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  132.273820  127.932490  136.725737
1 2021-01-05  132.082000  127.642462  136.570749
2 2021-01-06  131.791126  126.990223  136.446756

In [ ]:
df_prophet_concat2 = pd.merge(df_prophet_concat, df_close, on='ds', how='left')
df_prophet_concat2.iloc[-252:-248]
df_prophet_concat2.info()
df_prophet_concat2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ds          996 non-null    datetime64[ns]
 1   yhat        996 non-null    float64
 2   yhat_lower  996 non-null    float64
 3   yhat_upper  996 non-null    float64
 4   Close       745 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.0 KB

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  132.273820  127.932490  136.725737  129.410004
1   2021-01-05  132.082000  127.642462  136.570749  131.009995
2   2021-01-06  131.791126  126.990223  136.446756  126.599998
3   2021-01-07  131.383895  126.508872  136.076737  130.919998
4   2021-01-08  131.252225  126.359464  135.403756  132.050003
..         ...         ...         ...         ...         ...
991 2024-12-24  213.381351  -30.470782  458.666265         NaN
992 2024-12-26  212.872351  -33.800518  456.847381         NaN
993 2024-12-27  212.783411  -32.520627  458.933772         NaN
994 2024-12-30  212.122836  -34.515993  461.425211         NaN
995 2024-12-31  211.992922  -37.739644  460.881103         NaN

[996 rows x 5 columns]

In [ ]:
df_arima_concat2 = pd.merge(df_arima, df_close, on='ds', how='left') # df_arima_concat 은 없는게 맞음 애초에 컬럼이 그것들 뿐이라 안만듦
df_arima_concat2.iloc[-22:-18]
df_arima_concat2

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  188.039993  181.956899  194.123088  129.410004
1   2021-01-05  129.410004  122.663076  136.156931  131.009995
2   2021-01-06  131.009995  124.264746  137.755243  126.599998
3   2021-01-07  126.599998  119.853352  133.346645  130.919998
4   2021-01-08  130.919998  124.172099  137.667897  132.050003
..         ...         ...         ...         ...         ...
768 2024-01-24  195.179993  188.896540  201.463446         NaN
769 2024-01-25  194.500000  188.217844  200.782156         NaN
770 2024-01-26  194.169998  187.889184  200.450812         NaN
771 2024-01-29  192.419998  186.140136  198.699860         NaN
772 2024-01-30  191.729996  185.451426  198.008565         NaN

[773 rows x 5 columns]

In [ ]:
df_arima_concat2.sort_values(by='ds',inplace=True)

In [ ]:
df_prophet_concat2['model']='prophet'

In [ ]:
df_arima_concat2['model']='arima'

In [ ]:
combined_data = pd.concat([df_prophet_concat2, df_arima_concat2])
combined_data.reset_index(drop=True, inplace=True)

In [ ]:
combined_data.iloc[950:1000]

            ds        yhat  yhat_lower  yhat_upper       Close    model
950 2024-10-24  196.432065   14.266490  381.805899         NaN  prophet
951 2024-10-25  196.732101   11.490261  385.946973         NaN  prophet
952 2024-10-28  197.298966   12.014562  387.027227         NaN  prophet
953 2024-10-29  197.603367   10.788621  387.693059         NaN  prophet
954 2024-10-30  197.804549    8.602951  388.586596         NaN  prophet
955 2024-10-31  197.884060    8.160420  391.966433         NaN  prophet
956 2024-11-01  198.232472    4.788578  393.137061         NaN  prophet
957 2024-11-04  199.079931    6.699851  392.422669         NaN  prophet
958 2024-11-05  199.520942    4.094406  394.612571         NaN  prophet
959 2024-11-06  199.877607    4.416749  398.194078         NaN  prophet
960 2024-11-07  200.128976    2.001497  398.524792         NaN  prophet
961 2024-11-08  200.662605   -0.971253  401.667302         NaN  prophet
962 2024-11-12  202.751719    0.556628  403.606980         NaN  prophet
963 2024-11-13  203.303001    1.132154  405.145475         NaN  prophet
964 2024-11-14  203.738342   -1.925643  407.307880         NaN  prophet
965 2024-11-15  204.441267   -3.500778  411.455875         NaN  prophet
966 2024-11-18  206.272383   -3.230638  410.386028         NaN  prophet
967 2024-11-19  206.991406   -2.035475  413.385325         NaN  prophet
968 2024-11-20  207.590501   -5.774809  417.502713         NaN  prophet
969 2024-11-21  208.043244   -7.032801  418.556312         NaN  prophet
970 2024-11-22  208.732516   -8.648166  420.970566         NaN  prophet
971 2024-11-25  210.339424   -7.509556  423.742777         NaN  prophet
972 2024-11-26  210.926667   -7.800598  424.239805         NaN  prophet
973 2024-11-27  211.368841   -8.619162  425.997034         NaN  prophet
974 2024-11-29  212.132809   -7.134916  426.837146         NaN  prophet
975 2024-12-02  213.061598  -10.886962  430.261000         NaN  prophet
976 2024-12-03  213.407310  -13.541591  435.237151         NaN  prophet
977 2024-12-04  213.606038  -12.977187  435.618942         NaN  prophet
978 2024-12-05  213.637328  -15.059339  436.478168         NaN  prophet
979 2024-12-06  213.890110  -13.352944  440.099381         NaN  prophet
980 2024-12-09  214.155718  -17.016771  442.729886         NaN  prophet
981 2024-12-10  214.303045  -17.085639  443.460514         NaN  prophet
982 2024-12-11  214.316529  -19.483228  446.722896         NaN  prophet
983 2024-12-12  214.176088  -21.685823  445.529575         NaN  prophet
984 2024-12-13  214.270571  -21.181677  449.187347         NaN  prophet
985 2024-12-16  214.135110  -20.267411  450.113229         NaN  prophet
986 2024-12-17  214.169521  -25.327740  450.452230         NaN  prophet
987 2024-12-18  214.078012  -26.200252  449.964676         NaN  prophet
988 2024-12-19  213.838866  -27.234514  452.698430         NaN  prophet
989 2024-12-20  213.839308  -29.715668  453.284270         NaN  prophet
990 2024-12-23  213.435423  -31.257437  457.374507         NaN  prophet
991 2024-12-24  213.381351  -30.470782  458.666265         NaN  prophet
992 2024-12-26  212.872351  -33.800518  456.847381         NaN  prophet
993 2024-12-27  212.783411  -32.520627  458.933772         NaN  prophet
994 2024-12-30  212.122836  -34.515993  461.425211         NaN  prophet
995 2024-12-31  211.992922  -37.739644  460.881103         NaN  prophet
996 2021-01-04  188.039993  181.956899  194.123088  129.410004    arima
997 2021-01-05  129.410004  122.663076  136.156931  131.009995    arima
998 2021-01-06  131.009995  124.264746  137.755243  126.599998    arima
999 2021-01-07  126.599998  119.853352  133.346645  130.919998    arima

In [ ]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'combined_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
combined_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [ ]:
import pandas as pd
import yfinance as yf
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
from tqdm import tqdm

get_list={'samsung': '005930.KS', 'google': 'GOOG', 'microsoft': 'MSFT', 'amazon': 'AMZN', 'meta_facebook': 'META'}

for company, ticker in tqdm(get_list.items()):
    start = '2021-01-01'
    end = '2024-12-31'
    symbol = ticker # "005930.KS"
    df = yf.download(symbol, start, end)
    df = df.rename(columns={'Adj Close': 'Adj_Close'})
    # df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
    # df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
    display(df.head(3))


    # BigQuery 클라이언트 생성
    client = bigquery.Client()
    project_id = client.project #'actual-project-415811'

    ### 여기 설정 ###
    dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
    ### 여기 설정 끝 ###

    # 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
    dataset_id = "{}.{}".format(project_id, dataset_name)

    # 데이터 세트 참조 생성
    dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

    try:
        # 데이터 세트가 존재하는지 확인
        client.get_dataset(dataset_ref)
        print("Dataset already exists.")
    except NotFound:
        # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
        dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
        dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
        dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
        print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

    # client = bigquery.Client()
    # dataset = 'stockdata' 

    ### 여기 설정 ###
    table_name = company+'_from2021-01-01' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
    ### 여기 설정 끝 ###

    table_id = "{}.{}".format(dataset_name,table_name)
    df.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close     Adj_Close    Volume
Date
2021-01-04  81000.0  84400.0  80200.0  83000.0  77922.695312  38655276
2021-01-05  81600.0  83900.0  81600.0  83900.0  78767.632812  35335669
2021-01-06  83300.0  84500.0  82100.0  82200.0  77171.640625  42089013

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj_Close    Volume
Date
2021-01-04  87.876999  88.032501  85.392502  86.412003  86.412003  38038000
2021-01-05  86.250000  87.383499  85.900749  87.045998  87.045998  22906000
2021-01-06  85.131500  87.400002  84.949997  86.764503  86.764503  52042000

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,222.529999,223.000000,214.809998,217.690002,211.605286,37130100
2021-01-05,217.259995,218.520004,215.699997,217.899994,211.809387,23823000
2021-01-06,212.169998,216.490005,211.940002,212.250000,206.317352,35930700

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,163.500000,163.600006,157.201004,159.331497,159.331497,88228000
2021-01-05,158.300507,161.169006,158.253006,160.925507,160.925507,53110000
2021-01-06,157.324005,159.875504,156.557999,156.919006,156.919006,87896000

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,274.779999,275.000000,265.200012,268.940002,268.654968,15106100
2021-01-05,268.290009,272.399994,268.209991,270.970001,270.682800,9871600
2021-01-06,262.000000,267.750000,260.010010,263.309998,263.030914,24354100

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 5/5 [00:38<00:00,  7.72s/it]

# 모의 주식 계산용 데이터 만들기

In [ ]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2024-12-31'
symbol = 'AAPL' # "005930.KS"
df = yf.download(symbol, start, end)
df = df.rename(columns={'Adj Close': 'Adj_Close'})
# df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002098,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572357,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244377,155088000

In [ ]:
# df['datestamp'] = pd.to_datetime(df.index, format = '%Y-%m-%d')
df_real = df[['datestamp', 'Close']]
df_real = df_real.rename(columns={'Close': 'y'})

            datestamp           y
Date
2021-01-04 2021-01-04  129.410004
2021-01-05 2021-01-05  131.009995
2021-01-06 2021-01-06  126.599998
2021-01-07 2021-01-07  130.919998
2021-01-08 2021-01-08  132.050003
...               ...         ...
2024-03-04 2024-03-04  175.100006
2024-03-05 2024-03-05  170.119995
2024-03-06 2024-03-06  169.119995
2024-03-07 2024-03-07  169.000000
2024-03-08 2024-03-08  170.729996

[800 rows x 2 columns]

In [ ]:
df_real.reset_index(inplace=True, drop=True)

In [ ]:
df_real[-1:]

     datestamp           y
799 2024-03-08  170.729996

In [ ]:
df_predict = pd.read_csv('prophet_일년짜리예측.csv')

In [ ]:
df_predict=df_predict[df_predict['ds']>'2024-03-08'][['ds','yhat']]

In [ ]:
df_predict.reset_index(inplace=True, drop=True)

In [ ]:
df_predict.rename(columns={'ds': 'datestamp', 'yhat': 'y'}, inplace=True)

In [ ]:
df_predict

      datestamp           y
0    2024-03-11  186.128756
1    2024-03-12  186.552684
2    2024-03-13  186.911373
3    2024-03-14  187.176142
4    2024-03-15  187.727263
..          ...         ...
199  2024-12-24  213.381351
200  2024-12-26  212.872351
201  2024-12-27  212.783411
202  2024-12-30  212.122836
203  2024-12-31  211.992922

[204 rows x 2 columns]

In [ ]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  800 non-null    datetime64[ns]
 1   y          800 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 12.6 KB

In [ ]:
df_predict['datestamp']= pd.to_datetime(df_predict['datestamp'])

In [ ]:
df_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  204 non-null    datetime64[ns]
 1   y          204 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.3 KB

In [ ]:
calculator_data=pd.concat([df_real, df_predict])

In [ ]:
calculator_data

     datestamp           y
0   2021-01-04  129.410004
1   2021-01-05  131.009995
2   2021-01-06  126.599998
3   2021-01-07  130.919998
4   2021-01-08  132.050003
..         ...         ...
199 2024-12-24  213.381351
200 2024-12-26  212.872351
201 2024-12-27  212.783411
202 2024-12-30  212.122836
203 2024-12-31  211.992922

[1004 rows x 2 columns]

In [ ]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'calculator_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
calculator_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [2]:
import pandas as pd
hom = pd.DataFrame({
    'title': ['홈'],
    'url': ['https://finance.yahoo.com/quote/AAPL?.tsrc=fin-srch']
})

In [4]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'major_indices' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'article_home' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
hom.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 긴급 더 좋은 제대로된듯한 파라미터 발견해서 데이터 교체

In [8]:
start = '2021-01-01' # '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
prophet_train_df = yf.download(symbol, start, end)
prophet_train_df = prophet_train_df.rename(columns={'Adj Close': 'Adj_Close'})
prophet_train_df['ds'] = pd.to_datetime(prophet_train_df.index, format = '%Y-%m-%d')
prophet_train_df['y'] = prophet_train_df['Close']

prophet_train_df_input = prophet_train_df[['ds','y']]

fcast_time = 365 #365 # 365일 예측
freq_option = 'D'


# 문자열을 datetime 객체로 변환
end_date = datetime.strptime(end, '%Y-%m-%d')
start_date_r = end_date + timedelta(days=1) # fcast_time+1 만큼의 일수를 더함
end_date_r = end_date + timedelta(days=fcast_time+2) # fcast_time+1 만큼의 일수를 더함 end날 이전까지 가져와서 +1 해줌
start_r = start_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
end_r = end_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
ticker_r = 'AAPL'

df_recent = yf.download(ticker_r, start=start_r, end=end_r)
df_recent['ds'] = pd.to_datetime(df_recent.index, format = '%Y-%m-%d')
df_recent['y'] = df_recent['Close']

us_holidays = make_holidays_df(
    year_list=[2021 + i for i in range(4)], country='US'
)

model_prophet = Prophet(holidays=us_holidays, changepoint_prior_scale=0.3,holidays_prior_scale=10, 
                        n_changepoints=50, seasonality_mode='multiplicative', seasonality_prior_scale=0.01).fit(prophet_train_df)

future = model_prophet.make_future_dataframe(periods = fcast_time+3, freq = freq_option)
future = future[(future['ds'].dt.dayofweek < 5)&(~future['ds'].isin(us_holidays['ds']))] # 주말 제외 작업 & # 공휴일 제외 작업

df_forecast = model_prophet.predict(future)
# model_prophet.plot(df_forecast, xlabel = 'Date',ylabel ='price($)')
# model_prophet.plot_components(df_forecast);

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
00:51:05 - cmdstanpy - INFO - Chain [1] start processing
00:51:05 - cmdstanpy - INFO - Chain [1] done processing

In [10]:
columns_to_drop = ['Christmas Day', 'Christmas Day_lower', 'Christmas Day_upper', 'Christmas Day (observed)', 'Christmas Day (observed)_lower', 
             'Christmas Day (observed)_upper', 'Columbus Day', 'Columbus Day_lower', 'Columbus Day_upper', 'Independence Day', 
             'Independence Day_lower', 'Independence Day_upper', 'Independence Day (observed)', 'Independence Day (observed)_lower', 
             'Independence Day (observed)_upper', 'Juneteenth National Independence Day', 'Juneteenth National Independence Day_lower', 
             'Juneteenth National Independence Day_upper', 'Juneteenth National Independence Day (observed)', 
             'Juneteenth National Independence Day (observed)_lower', 'Juneteenth National Independence Day (observed)_upper', 'Labor Day', 
             'Labor Day_lower', 'Labor Day_upper', 'Martin Luther King Jr. Day', 'Martin Luther King Jr. Day_lower', 
             'Martin Luther King Jr. Day_upper', 'Memorial Day', 'Memorial Day_lower', 'Memorial Day_upper', "New Year's Day", 
             "New Year's Day_lower", "New Year's Day_upper", "New Year's Day (observed)", "New Year's Day (observed)_lower", 
             "New Year's Day (observed)_upper", 'Thanksgiving', 'Thanksgiving_lower', 'Thanksgiving_upper', 'Veterans Day', 'Veterans Day_lower', 
             'Veterans Day_upper', 'Veterans Day (observed)', 'Veterans Day (observed)_lower', 'Veterans Day (observed)_upper',
             "Washington's Birthday", "Washington's Birthday_lower", "Washington's Birthday_upper"]

df_forecast.drop(columns_to_drop, axis=1, inplace=True)

from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df_forecast.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [11]:
df_forecast.to_csv('prophet_일년짜리예측2.csv', index=False)

# 예측 데이터 아리마와 같이 합치기

In [12]:
# 아리마 예측 적재용
import pandas as pd
df_arima = pd.read_csv('arima_forecast.csv')# 'ARIMA_forecast_2024-01.csv')

df_arima['ds'] = pd.to_datetime(df_arima['ds'])

In [13]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
df_merge = yf.download(symbol, start, end)
df_merge = df_merge.rename(columns={'Adj Close': 'Adj_Close'})
# df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_merge.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002098,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572342,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244385,155088000

In [14]:
import numpy as np
from prophet import Prophet
df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중

In [15]:
df_merge.reset_index(drop=True, inplace=True)

In [16]:
df_close = df_merge[['ds','Close']]
df_close.head(3)

          ds       Close
0 2021-01-04  129.410004
1 2021-01-05  131.009995
2 2021-01-06  126.599998

In [17]:
df_prophet_concat=df_forecast[['ds','yhat','yhat_lower','yhat_upper']]
df_prophet_concat.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  132.363156  127.838944  136.780391
1 2021-01-05  132.229096  127.872543  136.915568
2 2021-01-06  131.995442  127.949439  136.527183

In [18]:
df_prophet_concat2 = pd.merge(df_prophet_concat, df_close, on='ds', how='left')
df_prophet_concat2.iloc[-252:-248]
df_prophet_concat2.info()
df_prophet_concat2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ds          996 non-null    datetime64[ns]
 1   yhat        996 non-null    float64
 2   yhat_lower  996 non-null    float64
 3   yhat_upper  996 non-null    float64
 4   Close       745 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.0 KB

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  132.363156  127.838944  136.780391  129.410004
1   2021-01-05  132.229096  127.872543  136.915568  131.009995
2   2021-01-06  131.995442  127.949439  136.527183  126.599998
3   2021-01-07  131.643013  127.022322  135.892379  130.919998
4   2021-01-08  131.508340  126.839938  135.899648  132.050003
..         ...         ...         ...         ...         ...
991 2024-12-24  209.802502  -37.895094  461.036431         NaN
992 2024-12-26  209.109973  -41.273523  460.706581         NaN
993 2024-12-27  208.927639  -40.578301  465.207966         NaN
994 2024-12-30  207.864764  -42.002588  461.016105         NaN
995 2024-12-31  207.637662  -46.297114  461.863285         NaN

[996 rows x 5 columns]

In [19]:
df_arima_concat2 = pd.merge(df_arima, df_close, on='ds', how='left') # df_arima_concat 은 없는게 맞음 애초에 컬럼이 그것들 뿐이라 안만듦
df_arima_concat2.iloc[-22:-18]
df_arima_concat2

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  188.039993  181.956899  194.123088  129.410004
1   2021-01-05  129.410004  122.663076  136.156931  131.009995
2   2021-01-06  131.009995  124.264746  137.755243  126.599998
3   2021-01-07  126.599998  119.853352  133.346645  130.919998
4   2021-01-08  130.919998  124.172099  137.667897  132.050003
..         ...         ...         ...         ...         ...
768 2024-01-24  195.179993  188.896540  201.463446         NaN
769 2024-01-25  194.500000  188.217844  200.782156         NaN
770 2024-01-26  194.169998  187.889184  200.450812         NaN
771 2024-01-29  192.419998  186.140136  198.699860         NaN
772 2024-01-30  191.729996  185.451426  198.008565         NaN

[773 rows x 5 columns]

In [20]:
df_arima_concat2.sort_values(by='ds',inplace=True)

In [21]:
df_prophet_concat2['model']='prophet'

In [22]:
df_arima_concat2['model']='arima'

In [23]:
combined_data = pd.concat([df_prophet_concat2, df_arima_concat2])
combined_data.reset_index(drop=True, inplace=True)

In [24]:
combined_data.iloc[950:1000]

            ds        yhat  yhat_lower  yhat_upper       Close    model
950 2024-10-24  190.812117   13.023401  361.153137         NaN  prophet
951 2024-10-25  191.108853   13.841496  361.331476         NaN  prophet
952 2024-10-28  191.691209   12.302634  361.670156         NaN  prophet
953 2024-10-29  192.083353    8.434298  363.868079         NaN  prophet
954 2024-10-30  192.329955    6.558121  366.426514         NaN  prophet
955 2024-10-31  192.397878    6.184173  370.078392         NaN  prophet
956 2024-11-01  192.798323    5.091495  372.153187         NaN  prophet
957 2024-11-04  193.837178   -0.422352  373.045762         NaN  prophet
958 2024-11-05  194.423854    3.487495  376.746185         NaN  prophet
959 2024-11-06  194.880884    0.252835  378.358109         NaN  prophet
960 2024-11-07  195.171275   -0.168286  379.609921         NaN  prophet
961 2024-11-08  195.802723   -1.319336  383.951794         NaN  prophet
962 2024-11-12  198.339097   -1.686432  388.820600         NaN  prophet
963 2024-11-13  198.996668   -2.809655  393.982835         NaN  prophet
964 2024-11-14  199.467376   -4.856411  395.609297         NaN  prophet
965 2024-11-15  200.255681   -6.956949  398.259975         NaN  prophet
966 2024-11-18  202.283930   -6.525685  403.355785         NaN  prophet
967 2024-11-19  203.119700   -8.319545  408.159719         NaN  prophet
968 2024-11-20  203.774942   -9.033779  408.337238         NaN  prophet
969 2024-11-21  204.208143   -9.138409  412.793438         NaN  prophet
970 2024-11-22  204.925193  -10.544218  415.364227         NaN  prophet
971 2024-11-25  206.551363  -12.874200  421.332173         NaN  prophet
972 2024-11-26  207.199578  -11.948673  424.284568         NaN  prophet
973 2024-11-27  207.645787  -11.772877  422.673205         NaN  prophet
974 2024-11-29  208.330030  -13.901222  427.405364         NaN  prophet
975 2024-12-02  209.200270  -16.109339  428.551377         NaN  prophet
976 2024-12-03  209.597607  -15.330780  432.526743         NaN  prophet
977 2024-12-04  209.799058  -15.979012  436.839360         NaN  prophet
978 2024-12-05  209.769864  -19.140803  436.262065         NaN  prophet
979 2024-12-06  210.023908  -18.964441  440.509929         NaN  prophet
980 2024-12-09  210.307872  -21.673001  441.774137         NaN  prophet
981 2024-12-10  210.540229  -22.912049  448.145192         NaN  prophet
982 2024-12-11  210.590900  -26.894980  445.268496         NaN  prophet
983 2024-12-12  210.423797  -25.985263  449.740651         NaN  prophet
984 2024-12-13  210.551756  -29.023430  453.260010         NaN  prophet
985 2024-12-16  210.501678  -28.677675  455.586435         NaN  prophet
986 2024-12-17  210.628786  -29.173958  455.884941         NaN  prophet
987 2024-12-18  210.572171  -31.614700  455.906967         NaN  prophet
988 2024-12-19  210.292999  -30.322221  459.586299         NaN  prophet
989 2024-12-20  210.302414  -34.899879  459.133326         NaN  prophet
990 2024-12-23  209.836722  -34.190828  461.236872         NaN  prophet
991 2024-12-24  209.802502  -37.895094  461.036431         NaN  prophet
992 2024-12-26  209.109973  -41.273523  460.706581         NaN  prophet
993 2024-12-27  208.927639  -40.578301  465.207966         NaN  prophet
994 2024-12-30  207.864764  -42.002588  461.016105         NaN  prophet
995 2024-12-31  207.637662  -46.297114  461.863285         NaN  prophet
996 2021-01-04  188.039993  181.956899  194.123088  129.410004    arima
997 2021-01-05  129.410004  122.663076  136.156931  131.009995    arima
998 2021-01-06  131.009995  124.264746  137.755243  126.599998    arima
999 2021-01-07  126.599998  119.853352  133.346645  130.919998    arima

In [25]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'combined_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
combined_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 모의계산기용

In [26]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2024-12-31'
symbol = 'AAPL' # "005930.KS"
df = yf.download(symbol, start, end)
df = df.rename(columns={'Adj Close': 'Adj_Close'})
# df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002121,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572311,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244385,155088000

In [28]:
df['datestamp'] = pd.to_datetime(df.index, format = '%Y-%m-%d')
df_real = df[['datestamp', 'Close']]
df_real = df_real.rename(columns={'Close': 'y'})

In [29]:
df_real.reset_index(inplace=True, drop=True)

In [30]:
df_real[-1:]

     datestamp           y
799 2024-03-08  170.729996

In [31]:
df_predict = pd.read_csv('prophet_일년짜리예측2.csv')

In [32]:
df_predict=df_predict[df_predict['ds']>'2024-03-08'][['ds','yhat']]

In [33]:
df_predict.reset_index(inplace=True, drop=True)

In [34]:
df_predict.rename(columns={'ds': 'datestamp', 'yhat': 'y'}, inplace=True)

In [35]:
df_predict

      datestamp           y
0    2024-03-11  181.534999
1    2024-03-12  182.115842
2    2024-03-13  182.603286
3    2024-03-14  182.953081
4    2024-03-15  183.639336
..          ...         ...
199  2024-12-24  209.802502
200  2024-12-26  209.109973
201  2024-12-27  208.927639
202  2024-12-30  207.864764
203  2024-12-31  207.637662

[204 rows x 2 columns]

In [36]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  800 non-null    datetime64[ns]
 1   y          800 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 12.6 KB

In [37]:
df_predict['datestamp']= pd.to_datetime(df_predict['datestamp'])

In [38]:
df_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  204 non-null    datetime64[ns]
 1   y          204 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.3 KB

In [39]:
calculator_data=pd.concat([df_real, df_predict])

In [40]:
calculator_data

     datestamp           y
0   2021-01-04  129.410004
1   2021-01-05  131.009995
2   2021-01-06  126.599998
3   2021-01-07  130.919998
4   2021-01-08  132.050003
..         ...         ...
199 2024-12-24  209.802502
200 2024-12-26  209.109973
201 2024-12-27  208.927639
202 2024-12-30  207.864764
203 2024-12-31  207.637662

[1004 rows x 2 columns]

In [41]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'calculator_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
calculator_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 예측 평가 지표

In [42]:
metrics = pd.read_csv('metrics_prophet(final)2.csv')

In [43]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_prophet_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [44]:
# 아리마 예측 적재용
import pandas as pd
metrics_arima = pd.read_csv('metrics_arima.csv')

In [45]:
# metrics_prophet = metrics
metrics_prophet =pd.read_csv('metrics_prophet(final)2.csv')

In [46]:
metrics_prophet = metrics_prophet.assign(model='prophet')
metrics_arima = metrics_arima.assign(model='arima')

In [47]:
metrics_combined = pd.concat([metrics_prophet,metrics_arima])

In [48]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_combined_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_combined.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 긴급 더 좋은 제대로된듯한 파라미터 발견해서 데이터 교체 holidays window값 넣기

In [23]:
start = '2021-01-01' # '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
total_train_df = yf.download(symbol, start, end)
total_train_df = total_train_df.rename(columns={'Adj Close': 'Adj_Close'})
total_train_df['ds'] = pd.to_datetime(total_train_df.index, format = '%Y-%m-%d')
total_train_df['y'] = total_train_df['Close']

total_train_df_input = total_train_df[['ds','y']]

fcast_time = 365 # 365일 예측
freq_option = 'D'


# 문자열을 datetime 객체로 변환
end_date = datetime.strptime(end, '%Y-%m-%d')
start_date_r = end_date + timedelta(days=1) # fcast_time+1 만큼의 일수를 더함
end_date_r = end_date + timedelta(days=fcast_time+2) # fcast_time+1 만큼의 일수를 더함 end날 이전까지 가져와서 +1 해줌
start_r = start_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
end_r = end_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
ticker_r = 'AAPL'

df_recent = yf.download(ticker_r, start=start_r, end=end_r)
df_recent['ds'] = pd.to_datetime(df_recent.index, format = '%Y-%m-%d')
df_recent['y'] = df_recent['Close']

us_holidays = make_holidays_df(
    year_list=[2021 + i for i in range(4)], country='US'
)
us_holidays = us_holidays.assign(lower_window=-1, upper_window=1)
total_train_df_input = total_train_df[['ds','y']]
model_prophet = Prophet(holidays=us_holidays, changepoint_prior_scale=0.3,
                        holidays_prior_scale=10.0, n_changepoints=50, seasonality_mode='multiplicative', seasonality_prior_scale=0.01).fit(total_train_df_input)

future = model_prophet.make_future_dataframe(periods = fcast_time+3, freq = freq_option)
future = future[(future['ds'].dt.dayofweek < 5)&(~future['ds'].isin(us_holidays['ds']))] # 주말 제외 작업 & # 공휴일 제외 작업

df_forecast = model_prophet.predict(future)
# model_prophet.plot(df_forecast, xlabel = 'Date',ylabel ='price($)')
# model_prophet.plot_components(df_forecast);

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
18:36:50 - cmdstanpy - INFO - Chain [1] start processing
18:36:50 - cmdstanpy - INFO - Chain [1] done processing

In [24]:
df_forecast.to_csv('prophet_일년짜리예측3.csv', index=False)

In [25]:
columns_to_drop = ['Christmas Day', 'Christmas Day_lower', 'Christmas Day_upper', 'Christmas Day (observed)', 'Christmas Day (observed)_lower', 
             'Christmas Day (observed)_upper', 'Columbus Day', 'Columbus Day_lower', 'Columbus Day_upper', 'Independence Day', 
             'Independence Day_lower', 'Independence Day_upper', 'Independence Day (observed)', 'Independence Day (observed)_lower', 
             'Independence Day (observed)_upper', 'Juneteenth National Independence Day', 'Juneteenth National Independence Day_lower', 
             'Juneteenth National Independence Day_upper', 'Juneteenth National Independence Day (observed)', 
             'Juneteenth National Independence Day (observed)_lower', 'Juneteenth National Independence Day (observed)_upper', 'Labor Day', 
             'Labor Day_lower', 'Labor Day_upper', 'Martin Luther King Jr. Day', 'Martin Luther King Jr. Day_lower', 
             'Martin Luther King Jr. Day_upper', 'Memorial Day', 'Memorial Day_lower', 'Memorial Day_upper', "New Year's Day", 
             "New Year's Day_lower", "New Year's Day_upper", "New Year's Day (observed)", "New Year's Day (observed)_lower", 
             "New Year's Day (observed)_upper", 'Thanksgiving', 'Thanksgiving_lower', 'Thanksgiving_upper', 'Veterans Day', 'Veterans Day_lower', 
             'Veterans Day_upper', 'Veterans Day (observed)', 'Veterans Day (observed)_lower', 'Veterans Day (observed)_upper',
             "Washington's Birthday", "Washington's Birthday_lower", "Washington's Birthday_upper"]

df_forecast.drop(columns_to_drop, axis=1, inplace=True)

from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
df_forecast.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 예측 데이터 아리마와 같이 합치기

In [26]:
# 아리마 예측 적재용
import pandas as pd
df_arima = pd.read_csv('arima_forecast.csv')# 'ARIMA_forecast_2024-01.csv')

df_arima['ds'] = pd.to_datetime(df_arima['ds'])

In [27]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
df_merge = yf.download(symbol, start, end)
df_merge = df_merge.rename(columns={'Adj Close': 'Adj_Close'})
# df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df_merge.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002106,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572311,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244385,155088000

In [28]:
import numpy as np
from prophet import Prophet
df_merge['ds'] = pd.to_datetime(df_merge.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
df_merge['y'] = df_merge['Close'] # 마찬가지로 굳이 넣어야하나 고민중

In [29]:
df_merge.reset_index(drop=True, inplace=True)

In [30]:
df_close = df_merge[['ds','Close']]
df_close.head(3)

          ds       Close
0 2021-01-04  129.410004
1 2021-01-05  131.009995
2 2021-01-06  126.599998

In [31]:
df_prophet_concat=df_forecast[['ds','yhat','yhat_lower','yhat_upper']]
df_prophet_concat.head(3)

          ds        yhat  yhat_lower  yhat_upper
0 2021-01-04  132.499399  128.127260  137.090452
1 2021-01-05  132.408105  127.963075  136.961630
2 2021-01-06  132.118526  127.517879  136.732033

In [32]:
df_prophet_concat2 = pd.merge(df_prophet_concat, df_close, on='ds', how='left')
df_prophet_concat2.iloc[-252:-248]
df_prophet_concat2.info()
df_prophet_concat2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ds          996 non-null    datetime64[ns]
 1   yhat        996 non-null    float64
 2   yhat_lower  996 non-null    float64
 3   yhat_upper  996 non-null    float64
 4   Close       745 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 39.0 KB

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  132.499399  128.127260  137.090452  129.410004
1   2021-01-05  132.408105  127.963075  136.961630  131.009995
2   2021-01-06  132.118526  127.517879  136.732033  126.599998
3   2021-01-07  131.759670  127.632702  136.441782  130.919998
4   2021-01-08  131.704658  127.240134  136.128164  132.050003
..         ...         ...         ...         ...         ...
991 2024-12-24  210.580028  -33.020901  444.445939         NaN
992 2024-12-26  208.749040  -35.231140  442.180967         NaN
993 2024-12-27  209.741494  -38.388024  447.056764         NaN
994 2024-12-30  208.554550  -35.785146  447.167327         NaN
995 2024-12-31  208.393030  -39.554876  445.491606         NaN

[996 rows x 5 columns]

In [33]:
df_arima_concat2 = pd.merge(df_arima, df_close, on='ds', how='left') # df_arima_concat 은 없는게 맞음 애초에 컬럼이 그것들 뿐이라 안만듦
df_arima_concat2.iloc[-22:-18]
df_arima_concat2

            ds        yhat  yhat_lower  yhat_upper       Close
0   2021-01-04  188.039993  181.956899  194.123088  129.410004
1   2021-01-05  129.410004  122.663076  136.156931  131.009995
2   2021-01-06  131.009995  124.264746  137.755243  126.599998
3   2021-01-07  126.599998  119.853352  133.346645  130.919998
4   2021-01-08  130.919998  124.172099  137.667897  132.050003
..         ...         ...         ...         ...         ...
768 2024-01-24  195.179993  188.896540  201.463446         NaN
769 2024-01-25  194.500000  188.217844  200.782156         NaN
770 2024-01-26  194.169998  187.889184  200.450812         NaN
771 2024-01-29  192.419998  186.140136  198.699860         NaN
772 2024-01-30  191.729996  185.451426  198.008565         NaN

[773 rows x 5 columns]

In [34]:
df_arima_concat2.sort_values(by='ds',inplace=True)

In [35]:
df_prophet_concat2['model']='prophet'

In [36]:
df_arima_concat2['model']='arima'

In [37]:
combined_data = pd.concat([df_prophet_concat2, df_arima_concat2])
combined_data.reset_index(drop=True, inplace=True)

In [39]:
combined_data

             ds        yhat  yhat_lower  yhat_upper       Close    model
0    2021-01-04  132.499399  128.127260  137.090452  129.410004  prophet
1    2021-01-05  132.408105  127.963075  136.961630  131.009995  prophet
2    2021-01-06  132.118526  127.517879  136.732033  126.599998  prophet
3    2021-01-07  131.759670  127.632702  136.441782  130.919998  prophet
4    2021-01-08  131.704658  127.240134  136.128164  132.050003  prophet
...         ...         ...         ...         ...         ...      ...
1764 2024-01-24  195.179993  188.896540  201.463446         NaN    arima
1765 2024-01-25  194.500000  188.217844  200.782156         NaN    arima
1766 2024-01-26  194.169998  187.889184  200.450812         NaN    arima
1767 2024-01-29  192.419998  186.140136  198.699860         NaN    arima
1768 2024-01-30  191.729996  185.451426  198.008565         NaN    arima

[1769 rows x 6 columns]

In [38]:
combined_data.iloc[950:1000]

            ds        yhat  yhat_lower  yhat_upper       Close    model
950 2024-10-24  191.227964   16.835784  353.193260         NaN  prophet
951 2024-10-25  191.658581   14.046067  354.344310         NaN  prophet
952 2024-10-28  192.155807   15.020663  358.640611         NaN  prophet
953 2024-10-29  192.628843   12.947966  358.763525         NaN  prophet
954 2024-10-30  192.806490   11.951488  360.666919         NaN  prophet
955 2024-10-31  192.882821   10.121507  364.295672         NaN  prophet
956 2024-11-01  193.425637    8.657369  365.627943         NaN  prophet
957 2024-11-04  194.390809    6.688883  368.473877         NaN  prophet
958 2024-11-05  195.057951    6.333000  372.412429         NaN  prophet
959 2024-11-06  195.443312    5.648358  375.054952         NaN  prophet
960 2024-11-07  195.737621    3.796208  377.908123         NaN  prophet
961 2024-11-08  196.505506    1.908194  377.714124         NaN  prophet
962 2024-11-12  194.677325    0.545494  377.348853         NaN  prophet
963 2024-11-13  199.588697   -0.270491  386.505821         NaN  prophet
964 2024-11-14  200.053352    0.564671  388.413256         NaN  prophet
965 2024-11-15  200.968791   -0.167352  392.793466         NaN  prophet
966 2024-11-18  202.874152   -2.484137  400.450401         NaN  prophet
967 2024-11-19  203.775368   -4.935729  401.428857         NaN  prophet
968 2024-11-20  204.344738   -2.984900  402.909931         NaN  prophet
969 2024-11-21  204.769535   -4.043140  404.246808         NaN  prophet
970 2024-11-22  205.613124   -7.399603  407.604682         NaN  prophet
971 2024-11-25  207.122588   -7.096085  415.683881         NaN  prophet
972 2024-11-26  207.841016   -5.857839  418.511130         NaN  prophet
973 2024-11-27  210.716876   -9.524097  424.556346         NaN  prophet
974 2024-11-29  206.754638  -10.321728  417.358670         NaN  prophet
975 2024-12-02  209.798334  -10.289013  426.467719         NaN  prophet
976 2024-12-03  210.272970  -11.353103  428.150882         NaN  prophet
977 2024-12-04  210.400387  -14.642585  430.252171         NaN  prophet
978 2024-12-05  210.374908  -14.680300  431.093971         NaN  prophet
979 2024-12-06  210.767756  -17.979865  428.900820         NaN  prophet
980 2024-12-09  210.965251  -16.303707  434.184497         NaN  prophet
981 2024-12-10  211.275665  -17.205308  435.678041         NaN  prophet
982 2024-12-11  211.251745  -18.911093  435.757771         NaN  prophet
983 2024-12-12  211.086880  -23.230880  435.848017         NaN  prophet
984 2024-12-13  211.351441  -22.257331  437.680112         NaN  prophet
985 2024-12-16  211.203009  -25.682594  439.689426         NaN  prophet
986 2024-12-17  211.403324  -26.601521  440.266272         NaN  prophet
987 2024-12-18  211.266740  -29.116687  441.403230         NaN  prophet
988 2024-12-19  210.984382  -29.654433  441.105858         NaN  prophet
989 2024-12-20  211.125166  -31.589455  444.909909         NaN  prophet
990 2024-12-23  210.545537  -32.084213  442.321603         NaN  prophet
991 2024-12-24  210.580028  -33.020901  444.445939         NaN  prophet
992 2024-12-26  208.749040  -35.231140  442.180967         NaN  prophet
993 2024-12-27  209.741494  -38.388024  447.056764         NaN  prophet
994 2024-12-30  208.554550  -35.785146  447.167327         NaN  prophet
995 2024-12-31  208.393030  -39.554876  445.491606         NaN  prophet
996 2021-01-04  188.039993  181.956899  194.123088  129.410004    arima
997 2021-01-05  129.410004  122.663076  136.156931  131.009995    arima
998 2021-01-06  131.009995  124.264746  137.755243  126.599998    arima
999 2021-01-07  126.599998  119.853352  133.346645  130.919998    arima

In [40]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'combined_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
combined_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [41]:
combined_data.to_csv('combinded_data3.csv', index=False)

# 모의계산기용

In [42]:
import pandas as pd
import yfinance as yf
start = '2021-01-01'
end = '2024-12-31'
symbol = 'AAPL' # "005930.KS"
df = yf.download(symbol, start, end)
df = df.rename(columns={'Adj Close': 'Adj_Close'})
# df['ds'] = pd.to_datetime(df.index, format = '%Y-%m-%d') # 굳이 넣어야하나 고민중
# df['y'] = df['Close'] # 마찬가지로 굳이 넣어야하나 고민중
df.head(3)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,127.002090,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,128.572327,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,124.244392,155088000

In [43]:
df['datestamp'] = pd.to_datetime(df.index, format = '%Y-%m-%d')
df_real = df[['datestamp', 'Close']]
df_real = df_real.rename(columns={'Close': 'y'})

In [44]:
df_real.reset_index(inplace=True, drop=True)

In [45]:
df_real[-1:]

     datestamp           y
799 2024-03-08  170.729996

In [3]:
df_predict = pd.read_csv('prophet_일년짜리예측3.csv')

In [47]:
df_predict=df_predict[df_predict['ds']>'2024-03-08'][['ds','yhat']]

In [48]:
df_predict.reset_index(inplace=True, drop=True)

In [49]:
df_predict.rename(columns={'ds': 'datestamp', 'yhat': 'y'}, inplace=True)

In [50]:
df_predict

      datestamp           y
0    2024-03-11  181.690492
1    2024-03-12  182.337799
2    2024-03-13  182.750906
3    2024-03-14  183.101862
4    2024-03-15  183.917855
..          ...         ...
199  2024-12-24  210.580028
200  2024-12-26  208.749040
201  2024-12-27  209.741494
202  2024-12-30  208.554550
203  2024-12-31  208.393030

[204 rows x 2 columns]

In [51]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  800 non-null    datetime64[ns]
 1   y          800 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 12.6 KB

In [52]:
df_predict['datestamp']= pd.to_datetime(df_predict['datestamp'])

In [53]:
df_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datestamp  204 non-null    datetime64[ns]
 1   y          204 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.3 KB

In [54]:
calculator_data=pd.concat([df_real, df_predict])

In [55]:
calculator_data

     datestamp           y
0   2021-01-04  129.410004
1   2021-01-05  131.009995
2   2021-01-06  126.599998
3   2021-01-07  130.919998
4   2021-01-08  132.050003
..         ...         ...
199 2024-12-24  210.580028
200 2024-12-26  208.749040
201 2024-12-27  209.741494
202 2024-12-30  208.554550
203 2024-12-31  208.393030

[1004 rows x 2 columns]

In [56]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'stockdata' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'calculator_data' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
calculator_data.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

# 예측 평가 지표 기록하기

In [58]:
start = '2021-01-01' # '2022-01-01'
end = '2023-12-31'
symbol = 'AAPL' # "005930.KS"
total_train_df = yf.download(symbol, start, end)
total_train_df = total_train_df.rename(columns={'Adj Close': 'Adj_Close'})
total_train_df['ds'] = pd.to_datetime(total_train_df.index, format = '%Y-%m-%d')
total_train_df['y'] = total_train_df['Close']

total_train_df_input = total_train_df[['ds','y']]

fcast_time = 30 # 365일 예측
freq_option = 'D'


# 문자열을 datetime 객체로 변환
end_date = datetime.strptime(end, '%Y-%m-%d')
start_date_r = end_date + timedelta(days=1) # fcast_time+1 만큼의 일수를 더함
end_date_r = end_date + timedelta(days=fcast_time+2) # fcast_time+1 만큼의 일수를 더함 end날 이전까지 가져와서 +1 해줌
start_r = start_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
end_r = end_date_r.strftime('%Y-%m-%d') # 문자로 바꿔줌
ticker_r = 'AAPL'

df_recent = yf.download(ticker_r, start=start_r, end=end_r)
df_recent['ds'] = pd.to_datetime(df_recent.index, format = '%Y-%m-%d')
df_recent['y'] = df_recent['Close']

us_holidays = make_holidays_df(
    year_list=[2021 + i for i in range(4)], country='US'
)
us_holidays = us_holidays.assign(lower_window=-1, upper_window=1)
total_train_df_train_df_input = total_train_df[['ds','y']]
model_prophet = Prophet(holidays=us_holidays, changepoint_prior_scale=0.3,
                        holidays_prior_scale=10.0, n_changepoints=50, seasonality_mode='multiplicative', seasonality_prior_scale=0.01).fit(total_train_df_input)

future = model_prophet.make_future_dataframe(periods = fcast_time+3, freq = freq_option)
future = future[(future['ds'].dt.dayofweek < 5)&(~future['ds'].isin(us_holidays['ds']))] # 주말 제외 작업 & # 공휴일 제외 작업

df_forecast = model_prophet.predict(future)
# model_prophet.plot(df_forecast, xlabel = 'Date',ylabel ='price($)')
# model_prophet.plot_components(df_forecast);

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
18:44:27 - cmdstanpy - INFO - Chain [1] start processing
18:44:28 - cmdstanpy - INFO - Chain [1] done processing

In [59]:
df_forecast.set_index('ds', inplace=True, drop=False)
fc = df_forecast[df_forecast['ds'].isin(df_recent['ds'])]['yhat']

mse = mean_squared_error(df_recent['y'], fc)
mae = mean_absolute_error(df_recent['y'], fc)
rmse = math.sqrt(mean_squared_error(df_recent['y'], fc))
mape = mean_absolute_percentage_error(df_recent['y'], fc)
r2score = r2_score(df_recent['y'],fc)
print(f'mse: {mse}, mae: {mae}, rmse: {rmse}, mape: {mape}, r2_score: {r2score}')

mse: 28.172511393835574, mae: 4.576488756079693, rmse: 5.307778385900788, mape: 0.024566317094153974, r2_score: -0.4694172244245496

# 예측 평가 지표

In [60]:
metrics = pd.read_csv('metrics_prophet(final)3.csv')

In [61]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_prophet_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]

In [62]:
# 아리마 예측 적재용
import pandas as pd
metrics_arima = pd.read_csv('metrics_arima.csv')

In [63]:
# metrics_prophet = metrics
metrics_prophet =pd.read_csv('metrics_prophet(final)3.csv')

In [64]:
metrics_prophet = metrics_prophet.assign(model='prophet')
metrics_arima = metrics_arima.assign(model='arima')

In [65]:
metrics_combined = pd.concat([metrics_prophet,metrics_arima])

In [66]:
from google.cloud import bigquery
from google.cloud.exceptions import NotFound

# BigQuery 클라이언트 생성
client = bigquery.Client()
project_id = client.project #'actual-project-415811'

### 여기 설정 ###
dataset_name = 'predict_metrics' # 여기 부분 원하는 데이터셋으로 설정
### 여기 설정 끝 ###

# 데이터 세트 ID 설정. 이 ID는 '[YOUR_PROJECT_ID].[DATASET_ID]' 형식이어야 합니다.
dataset_id = "{}.{}".format(project_id, dataset_name)

# 데이터 세트 참조 생성
dataset_ref = bigquery.DatasetReference.from_string(dataset_id)

try:
    # 데이터 세트가 존재하는지 확인
    client.get_dataset(dataset_ref)
    print("Dataset already exists.")
except NotFound:
    # 데이터 세트가 존재하지 않으면, 데이터 세트 생성
    dataset = bigquery.Dataset(dataset_id) # 데이터 세트 설정
    dataset.location = "asia-northeast3" # 데이터 세트의 지역을 설정(서울로 설정)
    dataset = client.create_dataset(dataset)  # API request # 데이터 세트 생성
    print("Created dataset {}.{}".format(project_id, dataset.dataset_id))

# client = bigquery.Client()
# dataset = 'stockdata' 

### 여기 설정 ###
table_name = 'metrics_combined_aapl' # 'predict_aapl_2021-01-01to2023-12-31_to365days'
### 여기 설정 끝 ###

table_id = "{}.{}".format(dataset_name,table_name)
metrics_combined.to_gbq(destination_table=table_id, project_id=project_id, if_exists='replace')

Dataset already exists.

100%|██████████| 1/1 [00:00<?, ?it/s]